{% extends 'layout.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<div class="container">
		<div class="white-block">
			<div class="d-flex">
				<div class="product-images-zone">
					<img src="{{ asset('build/images/olivier-d-europe-609764-2.jpg') }}" alt="photo">
				</div>
				<div class="product-description-zone flex-fill">
					<h3 class="product-description-title">{{ product.name }}</h3>
					<p class="product-description-subtitle">{{ product.mainDescription }}</p>
					<div class="d-flex p-3">
						<div class="product-description-attributes">
							<p>{{ product.mainAttribute1 }}</p>
							<p>{{ product.mainAttribute2 }}</p>
							<p>{{ product.mainAttribute3 }}</p>
						</div>
						<div class="product-description-price">
							<p>{{ product.price / 100 }}<sup>€{{ product.price|slice(-2) }}</sup>
								{% if product.originPrice %}
									<span>{{ product.originPrice / 100 }}
										€{{ product.originPrice|slice(-2) }}</span>
								{% endif %}
							</p>
						</div>
					</div>
					<form action="{{ path('cart_add') }}" class="mt-4" method="post">
						<label for="quantity">Quantité</label>
						<input type="number" id="quantity" name="productQuantity" value="1" min="1" max="{{ product.quantity }}" style="width: 40px;">
						<input type="hidden" name="productId" value="{{ product.id }}">
						<input type="submit" class="btn btn-secondary btn-lg text-white text-uppercase" value="Ajouter au panier">
					</form>
					<div class="product-indication mt-3">
						<p>
							<small class="text-danger">* Livraisons et plantations dans un rayon de 30 kilomètres d'Orléans</small>
						</p>
					</div>
				</div>
			</div>
			<div class="product-details-zone">
				<h4>Caractéristiques produit</h4>
				{% if product.descriptionShow1 %}
					<p>{{ product.descriptionShow1 }}</p>
					{% if product.descriptionShow2 %}
						<p>{{ product.descriptionShow2 }}</p>
					{% endif %}
					{% if product.descriptionShow3 %}
						<p>{{ product.descriptionShow3 }}</p>
					{% endif %}
				{% else %}
					<div class="alert alert-info" role="alert">
						Aucune information
					</div>
				{% endif %}
			</div>
			<div class="product-suggestions-zone"></div>
		</div>
	</div>
	<div class="product-suggest-zone d-none d-md-block">
		<div class="container py-2">
			<h3>Vous aimerez aussi</h3>
			<div class="row">
				{% for i in 0..2 %}
					<div class="col col-md-4 justify-content-center">
						{% include('products/_partials/lightProduct.html.twig') %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
