{% extends 'admin/adminLayout.html.twig' %}

{% block title %}Éspace administration
{% endblock %}

{% block content %}
	<h1>Éspace administration</h1>
	<div class="text-end p-2">
	<a href="{{ path('home') }}" class="btn btn-success px-5">Voir la boutique</a>
	</div>
	<div class="row my-4">
		<div class="col">
			<canvas id="ordersChart"></canvas>
		</div>
		<div class="col">
			<canvas id="usersChart"></canvas>
		</div>
	</div>
	<div class="row indicators">
		<div class="col admin-number">
			<div class="indicator">
				{{ countProducts }}
			</div>
            <a href="{{ path('admin_products') }}" class="text-block">
                Produits
            </a>
		</div>
		<div class="col admin-number">
			<div class="indicator">
				{{ countOrders }}
			</div>
            <a href="{{ path('admin_orders') }}" class="text-block">
                Commandes
            </a>
		</div>
		<div class="col admin-number">
			<div class="indicator">
				{{ countUsers }}
			</div>
            <a href="{{ path('admin_users') }}" class="text-block">
                Utilisateurs
            </a>
		</div>
		<div class="col admin-number">
			<div class="indicator">
				{{ countMessages }}
			</div>
            <a href="{{ path('admin_contact') }}" class="text-block">
                Messages
            </a>
		</div>
	</div>
	
	<script>
		var ctx = document.getElementById('ordersChart');
		var offersChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [
					{% for key in ordersDatas['datas']|keys %}
						'{{ key }}',
					{% endfor %}
				],
				datasets: [{
					data: [
						{% for order in ordersDatas['datas'] %}
							{{ order }},
						{% endfor %}
					],
					backgroundColor: [
						{% for order in ordersDatas['datas'] %}
							'rgb(198, 175, 122)',
						{% endfor %}
					]
				}]
			},
			options: {
				responsive: true,
				plugins: {
					title: {
						display: true,
						text: 'Total des commandes'
					},
					legend: {
						display: false,
					}
				},
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});

		var ctx = document.getElementById('usersChart');
		var offersChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [
					{% for key in usersDatas['datas']|keys %}
						'{{ key }}',
					{% endfor %}
				],
				datasets: [{
					data: [
						{% for order in usersDatas['datas'] %}
							{{ order }},
						{% endfor %}
					],
					backgroundColor: [
						{% for order in usersDatas['datas'] %}
							'rgb(198, 175, 122)',
						{% endfor %}
					]
				}]
			},
			options: {
				responsive: true,
				plugins: {
					title: {
						display: true,
						text: 'Nouveaux utilisateurs'
					},
					legend: {
						display: false,
					}
				},
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	</script>
{% endblock %}
