<div class="product-card">
	{% if product.originPrice %}
		<span class="promo-zone">Promotion</span>
	{% endif %}
	<div class="product-img-zone">
		<img src="{{ asset('images/product/') }}{{ product.pictures[0] }}" class="product-img" alt="photo">
	</div>
	<div class="product-text">
		<p class="product-title">{{ product.name }}</p>
		<p class="product-description">{{ product.mainDescription }}</p>
		<div class="product-details">
			<div class="product-price">
				<p>{{ product.price / 100 }}<sup>€{{ product.price|slice(-2) }}</sup>
					{% if product.originPrice %}
						<span>{{ (product.originPrice / 100)|number_format(2, ',') }}
							€</span>
					{% endif %}
				</p>
			</div>
		</div>
		<ul>
			<li>{{ product.mainAttribute1 }}</li>
			<li>{{ product.mainAttribute2 }}</li>
			<li>{{ product.mainAttribute3 }}</li>
		</ul>
		<div class="text-center">
			<a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-primary btn-gold">Acheter</a>
		</div>
	</div>
</div>
