<footer class="p-5">
	<div class="row w-100 m-0">
		<div class="col-12 col-md mb-3 text-center">
			<h5 class="footer-title">Histoires d'Oliviers</h5>
			<address>
				Orléans - Saran<br/>
				<div>
					<a href="tel:0769856867">+33 7 69 85 68 67</a>
				</div>
				<div>
					<a href="mailto:histoiresdoliviers@gmail.com">histoiresdoliviers@gmail.com</a>
				</div>
			</address>
			<div class="text-center">
				<a href="https://www.instagram.com/histoires.doliviers/" target="_blank">
					<i class="fab fa-instagram mx-3"></i>
				</a>
			</div>
		</div>
		<div class="col-12 col-md mb-3 text-center">
			<h5>Navigation</h5>
			<hr/>
			<ul class="footer-navigation">
				<li>
					<a href="{{ path('products_index') }}">Boutique</a>
				</li>
				<li>
					<a href="{{ path('advices') }}">Conseils et entretien</a>
				</li>
				<li>
					<a href="{{ path('delivery') }}">Livraison et plantation</a>
				</li>
				<li>
					<a href="{{ path('contact_index') }}">Nous contacter</a>
				</li>
			</ul>
		</div>
		<div class="col-12 col-md mb-3 text-center my-auto">
			<ul>
				<li>
					<a href="{{ path('account_index') }}">Mon compte</a>
				</li>
				<li>
					<a href="{{ path('legal') }}">Mentions légales</a>
				</li>
				<li>
					<a href="{{ path('CGU') }}">Conditions générales de vente</a>
				</li>
				<li class="m-auto">Paiement sécurisé avec</li>
				<i class="fab fa-stripe stripe-icon"></i>
			</ul>
		</div>
	</div>
</footer>
