{% extends 'layout.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<div class="container">
		<div class="white-block">
			<div class="col-12 alert alert-warning alert-dismissible fade show" role="alert">
				Livraison et plantation dans un rayon de
				<b>30 km d'Orléans</b>. Pour plus d'informations, merci de consulter nos
				<a href="{{ path('CGU') }}" target="_blank">conditions générales de ventes</a>.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="p-3">
				<h2 class="loginTitle mb-3 text-center">Commande</h2>
				<form action="{{ path('orders_show', {'number': order.number}) }}" method="post">
					<div class="table-responsive">
						<table class="table table-hover cart-table">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Article</th>
									<th scope="col">Quantité</th>
									<th scope="col">Prix</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
									<tr>
										<td><img src="{{ asset('images/products/') }}{{ product['product'].pictures[0] }}" class="miniature" alt="miniature"></td>
										<td>{{ product['product'].name }}</td>
										<td>{{ product['quantity'] }}</td>
										<td>{{ (product['product'].price / 100)|number_format(2, ',') }}
											€</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th colspan="3" class="text-end">TOTAL</th>
									<th>{{ (order.amount / 100)|number_format(2, ',') }}
										€</th>
								</tr>
								<input type="hidden" name="amount" value="{{ order.amount }}">
							</tfoot>
						</table>
					</div>
					<div class="delivery-choice">
						<h3>Livraison
							{% if order.hasTree %}
								et plantation
							{% endif %}
						</h3>
						<div>
							<input type="radio" id="none" name="delivery" value="0" checked>
							<label for="none">Retrait sur site</label>
						</div>
						{% if order.hasTree %}
							<div>
								<input type="radio" id="delivery" name="delivery" value="1">
								<label for="delivery">Livraison (+ 130 €)</label>
							</div>
							<div>
								<input type="radio" id="planting" name="delivery" value="2">
								<label for="planting">Livraison et plantation (+ 250 €)</label>
							</div>
						{% else %}
							<div>
								<input type="radio" id="free" name="delivery" value="free">
								<label for="free">Livraison offerte *</label>
								<div>
									<small class="text-muted">* Livraison offerte sur les produits de décoration (cochez la case pour séléctionner)</small>
								</div>
							</div>
						{% endif %}
					</div>
					<div class="d-flex flex-row-reverse cart-buttons">
						<input type="submit" class="btn btn-success btn-lg mx-2" value="Étape suivante">
						<a href="{{ path('products_index') }}" class="btn btn-outline-dark mx-2">Continuer mes achats</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
